{
	GSThemeDescription="A Theme for GNUstep";
	GSThemeName="Rik";
    	GSThemeAuthors = (
		       "Riccardo Canalicchio",
		       "Alessandro Sangiuliano",
		       "Bertrand Dekoninck"
    		       );		       
    	GSThemeDetails = "A Theme for GNUstep";
    	GSThemeDomain = {
		      GSBackHandlesWindowDecorations = 0;
		      NSMenuInterfaceStyle = NSMacintoshInterfaceStyle;
		      RikMenuBarTransparency = 0.95;
    		      };
    	GSThemeIcon = "ThemeIcon.png";
	GSThemeLicense = "";
    	GSThemeTiles = {
    	};
    	GSThemeVersion = "0.1";
}
