{
	GSThemeDescription="A Theme for GNUstep";
	GSThemeName="Rik";
    	GSThemeAuthors = (
		       "Riccardo Canalicchio",
		       "Alessandro Sangiuliano",
		       "Bertrand Dekoninck"
    		       );		       
    	GSThemeDetails = "A Theme for GNUstep";
    	GSThemeDomain = {
			  NSScrollViewInterfaceStyle = NSWindows95InterfaceStyle;
  	          NSScrollerInterfaceStyle = NSWindows95InterfaceStyle;
	          NSMenuInterfaceStyle = NSWindows95InterfaceStyle;
    		      };
    	GSThemeIcon = "ThemeIcon.png";
	GSThemePreview = "ThemePreview.png";
	GSThemeLicense = "";
    	GSThemeTiles = {
    	};
    	GSThemeVersion = "0.1";
}
