{
	GSThemeDescription="A Theme for GNUstep";
	GSThemeName="Rik";
    	GSThemeAuthors = (
		       "Riccardo Canalicchio",
		       "Alessandro Sangiuliano",
		       "Bertrand Dekoninck"
    		       );		       
    	GSThemeDetails = "A Theme for GNUstep";
    	GSThemeDomain = {
		      NSMenuInterfaceStyle = NSMacintoshInterfaceStyle;
		      NSMenuInterfaceStyle = NSMacintoshInterfaceStyle;
		      RikMenuBarTransparency = 0.95;
		      MenuShouldShowIcon = YES;
                      GSMenuBarHeight = 30;
    		      };
    	GSThemeIcon = "ThemeIcon.png";
	GSThemePreview = "ThemePreview.png";
	GSThemeLicense = "";
    	GSThemeTiles = {
    	};
    	GSThemeVersion = "0.1";
}
